# Deny list
/*

# Allow list
!/.gitignore
!/config.example.yml
!/go.mod
!/go.sum

# Folders
!/cmd/
!/cmd/**
!/internal/
!/internal/**
!/scripts/
!/scripts/**

# Allow only .gitkeep in database folder
!/database/.gitkeep

# Allow only .gitkeep in logs folder
!/logs/.gitkeep

# Allow only .gitkeep in config folder
!/config/.gitkeep